<!DOCTYPE html>
<html lang="en-us" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# dct: http://purl.org/dc/terms/ cc: https://creativecommons.org/ns#">
  <head>
    <meta charset="utf-8" />
    {{ block "head-title" . }}
    {{- if .IsHome }}
    <title>{{ .Title }}</title>
    {{- else if (and (eq .Kind "term") (eq .Type "series")) }}
    {{- range first 1 (where $.Site.Data.series "key" "eq" .Title ) }}
    <title>{{ .title }} // {{ $.Site.Title  }}</title>
    {{- end }}
    {{- else }}
    <title>{{ .Title }} // {{ .Site.Title  }}</title>
    {{- end }}
    {{ end }}
    {{ block "head" . }}
    {{ partial "head" . }}
    {{ end }}
  </head>
  <body class="type-{{ .Type }} {{ with .Params.body_dom_class }}{{ . }} {{ end }}{{ if isset .Params "full_width"}}full{{ else }}{{ if .IsHome }}full{{ else }}default{{ end }}{{ end }}-width" itemscope itemtype="http://schema.org/{{ with .Params.schema_dot_org_type }}{{ . }}{{ else }}WebPage{{ end }}">
    <header aria-label="Site header">
      <meta itemprop="speakable" content="{{ .Permalink }}#skip-to-content" />
      {{ block "pageRelatedLinks" . }}
      {{ end }}
      <nav class="group" role="list" aria-label="Site navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <meta itemprop="name" content="Site navigation" />
        <span role="listitem" aria-labelledby="skip-link"><a href="#skip-to-content"  itemprop="hasPart" class="offscreen" id="skip-link">Skip to Main Content</a></span>
        <p aria-labelledby="home" role="listitem" class="site-nav-home"><a id="home" itemprop="hasPart" rel="home" href="{{ .Site.BaseURL }}" {{ if eq (string $.Page.Permalink) (string .Site.BaseURL) }} aria-current="page" {{end}} >{{ .Site.Title }}</a></p>
        {{- range $idx, $item := .Site.Menus.topnav }}
	{{- $title := default $item.Title ($item.Name) }}
        <span role="listitem" aria-label="{{$title}}"><a itemprop="hasPart" href="{{ $item.URL }}" {{ if eq $.Page.RelPermalink $item.URL }}aria-current="page" {{ end }} title="{{ $title }}">{{ $item.Name | safeHTML }}</a></span><span class="hidden"> &middot; </span>
        {{- end }}
        <span role="listitem" aria-label="Search"><a itemprop="hasPart" {{ if eq (string $.Page.RelPermalink) "/search/" }}aria-current="page" {{ end }} rel="search" id="search-link" href="https://duckduckgo.com/?q=site:{{ .Site.Params.siteHost }}" title="Search via DuckDuckGo">Search</a></span>
      </nav>
      <script>
       var form = document.getElementById('search-link');
       form.setAttribute("href", "/search/");
       form.setAttribute("title", "Site-wide search");
      </script>
      <hr />
    </header>
    <main class="group" aria-label="Main Content">
      {{ block "breadcrumb" . }}{{ end }}
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
  </body>
</html>
