{{ define "breadcrumb" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
  <article itemprop="mainEntity" class="h-entry" {{ with .Params.ariaArticleLabel }}aria-label="{{ . }}"{{ else }}aria-labelledby="{{ anchorize .Title }}"{{ end }} id="skip-to-content" itemid="#skip-to-content" itemscope itemtype="http://schema.org/{{ with .Params.Schema }}{{ .type }}{{ else }}WebPageElement{{ end }}">
    <header aria-label="Article header">
      <link itemprop="mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
      <h1 itemprop="headline" class="p-name" id="{{ anchorize .Title }}">{{ .Title | safeHTML }}</h1>
    {{- with .Params.headline }}
      <h2 itemprop="alternateHeadline">{{ . }}</h2>
      {{- end }}
      {{- if or .Params.relPrevious .Params.relNext }}
      <nav aria-labelledby="{{ .Type }}-neighbors-label" class="paginator">
        <span id="{{ .Type }}-neighbors-label" class="label">{{ title .Type }} Neighbors </span>
        {{- with .Params.relPrevious }}<a href="{{ .Permalink }}" title="{{ .Title }}" rel="prev"><small aria-hidden="true">&lt;</small> {{ with .Label }}{{ . }}{{ end }}</a>{{- end }}
        {{- if and .Params.relPrevious .Params.relNext }}&nbsp;&middot;&nbsp{{ end }}
        {{- with .Params.relNext }}<a href="{{ .Permalink }}" title="{{ .Title }}" rel="next">{{- with .Label }}{{ . }}{{- end }} <small aria-hidden="true">&gt;</small></a>{{- end }}
      </nav>
      {{- end }}
    </header>
    <section {{ with .Params.Schema }}{{ with .skipText }}{{ else }}property="text"{{ end }}{{ end }} class="e-content content" role="region" aria-label=" {{ with .Params.ariaArticleLabel }}{{ . }}{{ else }}Article content{{ end }}">
      {{ .Content }}
    </section>
    <footer aria-label="Article footer">
      <hr class="hidden">
      {{ partial "footer/webmentions.html" . }}
      {{ partial "footer/licenses.html" . }}
      {{ partial "footer/image.html" . }}
    </footer>
  </article>
{{ end }}
