// This file contains all the constants for colors and font styles
// Enter Hipster Fonts
:root {
    --body-font: serif;
    --header-font: sans-serif;
    --counter-font: serif;
    --code-font: monospace;
    --black: #000000;
    --fg: var(--black);
    --white: #ffffff;
    --bg: var(--white);
    --cyan-alt-other-faint: #125458;
    --time: var(--cyan-alt-other-faint);
    --blue-alt-other-faint: #001087;
    --margin: var(--blue-alt-other-faint);
    --bg-dim: #e0e6f0;
    --fg-dim: #282828;
    --em: var(--fg-dim);
    --fg-alt: #505050;
    --dfn: var(--fg-alt);
    --abbr: var(--dfn);
    --dt: var(--dfn);
    --blue: #2544bb;
    --blue-alt-other: #0000c0;
    --a: var(--blue);
    --sidenote-number: var(--blue);
    --cyan: #00538b;
    --cyan-alt-faint: #354f6f;
    --a-visited: var(--cyan);
    --blue-alt-faint: #001087;
    --a-external: var(--blue-alt-faint);
    --a-external-visited: var(--cyan-alt-faint);
    --magenta-alt: #8f0075;
    --summary: var(--magenta-alt);
    --h1: var(--fg);
    --warm: #5d3026;
    --h2: var(--warm);
    --cold: #093060;
    --h3: var(--cold);
    --mild: #184034;
    --cite: var(--mild);
    --h4: var(--mild);
    --green-alt-other: #145c33;
    --code: var(--green-alt-other);
    --docstring: #2a486a;
    --blockquote: var(--docstring);
    --yellow-faint: #5f4400;
    --commentary: var(--yellow-faint);
    --aside: #5e3a20;
    --green-alt: #315b00;
    --kbd: var(--green-alt);
    --red-alt: #972500;
    --table-th-fg: var(--red-alt);
    --red-alt-faint: #702f00;
    --table-td-fg: var(--red-alt-faint);
    --bgdim: #F8F8F8;
    --table-bg-tr-alt: var(--bgdim);
    --thead-bg: #F0F0F0;
    --table-bg-thead: var(--thead-bg);
    --border: var(--head-bg);
    --fg-special-warm: #5d3026;
    --mark-fg: var(--fg-special-warm);
    --bg-special-warm: #f0e0d4;
    --mark-bg: var(--bg-special-warm);
    --bg-active-accent: #d0d6ff;
    --disclaimer: var(--bg-active-accent);
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: var(--white);
        --bg: var(--black);
        --fg-dim: #e0e6f0;
        --bg-dim: #282828;
        --blue: #2fafff;
        --blue-alt-other: #00bcff;
        --blue-alt-faint: #87c8ff;
        --cyan-alt-faint: #a0bfdf;
        --cyan-alt-other-faint: #a4d0bb;
        --fg-alt: #a8a8a8;
        --magenta-alt: #f78fe7;
        --cyan: #00d3d0;
        --blue-alt-other-faint: #87c8ff;
        --warm: #f8dec0;
        --cold: #c6eaff;
        --mild: #bfebe0;
        --red-alt: #f4923b;
        --red-alt-faint: #f5aa80;
        --docstring: #b0d6f5;
        --aside:#d0ba95;
        --yellow-faint: #cab98f;
        --green-alt: #70c900;
        --green-alt-other: #00cd68;
        --thead-bg: #110b11;
        --bgdim: #181a20;
        --white-alt: #a8a8a8;
        --fg-special-warm: #f8dec0;
        --bg-special-warm: #382f27;
	--bg-active-accent: #2a2a66;
    }
}
