<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{{- with $.Site.Params.webmentionUrl }}<link rel="webmention" href="{{ . }}" />{{ end }}
{{- with $.Site.Params.pingbackUrl }}<link rel="pingback" href="{{ . }}" />{{ end }}
<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
{{ with $.Site.Params.searchMySiteVerification }}<meta name="searchmysite-verification" content="{{ . }}" />{{- end }}

{{- if (or $.Site.Params.inline_css .Params.inline_css) }}
<style media="screen,print">
  {{ (resources.Get "css/tufte.scss" | resources.ToCSS | resources.Minify ).Content | safeCSS }}
</style>
<style media="print">
  {{ (resources.Get "css/print.scss" | resources.ToCSS | resources.Minify).Content | safeCSS }}
</style>
{{- else }}
{{ $screen := resources.Get "css/tufte.scss" | toCSS | minify | fingerprint }}
{{ $print := resources.Get "css/print.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $screen.RelPermalink }}" integrity="{{ $screen.Data.Integrity }}" rel="preload stylesheet" as="style" media="screen, print"/>
<link rel="stylesheet" href="{{ $print.RelPermalink }}" integrity="{{ $print.Data.Integrity }}" rel="preload stylesheet" as="style" media="print"/>
{{- end }}

{{ range .Site.Home.AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title | safeHTML }} {{ .Name }} Feed" />
{{ end -}}
{{- range .Site.Menus.me_elsewhere }}
<link rel="me" href="{{ .URL }}" title="{{ .Name }}" />
{{- end }}
