{{ define "head-title" }}
  {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.paginatedSections) .Site.Params.pagination_size }}
  {{- if eq 1 $paginator.PageNumber }}
    <title>{{ .Title }}</title>
  {{- else }}
    <title>{{ .Title }} (Page {{ $paginator.PageNumber }})</title>
  {{- end }}
{{ end }}
{{ define "breadcrumb" }}
    <div class="feeds" aria-labelledby="site-feeds-label" role="list">
      <span id="site-feeds-label" class="label">Site feeds </span>
      <span role="listitem" aria-label="ATOM Feed"><a href="{{ .Site.BaseURL }}index.atom">ATOM feed</a></span><span aria-hidden="true"> &middot; </span><span role="listitem" aria-label="RSS Feed"><a href="{{ .Site.BaseURL }}index.xml">RSS feed</a></span><span aria-hidden="true"> &middot; </span><span role="listitem" aria-label="JSON Feed"><a href="{{ .Site.BaseURL }}index.json">JSON feed</a></span>
    </div>
    <hr class="hidden" />
{{ end }}
{{- define "pageRelatedLinks" }}
{{- with .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.paginatedSections) .Site.Params.pagination_size }}
{{ if .HasNext }}<link rel="next" itemprop="relatedLink" href="{{ .Next.URL }}" />{{ end }}
{{ if .HasPrev }}<link rel="prev" itemprop="relatedLink" href="{{ .Prev.URL }}" />{{ end }}
{{- end }}
{{- end }}
{{ define "main" }}
<section itemprop="about" aria-label="About {{ .Site.Title }}">
  {{ .Content }}
</section>
<article itemprop="mainEntity" aria-labelledby="blog-posts" id="skip-to-content" itemid="#skip-to-content" itemscope itemtype="http://schema.org/Blog">
  {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.paginatedSections) .Site.Params.pagination_size }}
  <link itemprop="mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
  <h1 id="blog-posts">Blog Posts{{- if eq 1 $paginator.PageNumber }}{{- else }} (Page {{ $paginator.PageNumber }}){{- end }}</h1>
  {{- with $paginator }}
  <nav aria-labelledby="blog-pagination-label" class="paginator">
    <span class="label" id="blog-pagination-label">Blog posts pagination </span>
    {{- if .HasPrev }}<a href="{{ .Prev.URL }}" rel="next">Newer posts</a>{{- end }}{{- if and .HasNext .HasPrev}}&nbsp;&middot;&nbsp;{{- end }}{{- if .HasNext }}<a href="{{ .Next.URL }}" rel="prev">Older posts</a>{{- end }}<small> Page {{ .PageNumber }} of {{ .TotalPages }}</small>
  </nav>
  {{- end }}
  <ol aria-labelledby="blog-posts">
  {{ range $index, $object := $paginator.Pages }}
  {{ with $object }}
  <li itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" aria-labelledby="{{ anchorize .Title }}">
    <h2 id="{{ anchorize .Title }}">
      <cite itemprop="headline"><a itemprop="mainEntityOfPage" href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a></cite>
    </h2>
    {{- if isset .Params "headline" }}
    <h3 itemprop="alternateHeadline">{{- .Params.headline | markdownify }}</h3>
    {{- end }}
    <meta itemprop="wordCount" content="{{ .WordCount }}" />
    <link itemprop="author" href="{{ $.Site.BaseURL }}#tor-author" />
    <link itemprop="publisher" href="{{ $.Site.BaseURL }}#tor-organization" />
    <nav aria-label="Content's metadata and navigation">
      {{ partial "postAuthorWithoutLink.html" . }}{{ partial "postDate.html" . }}{{ partial "postTagsHomePage.html" . }}{{ partial "postSeriesHomePage.html" . }}
    </nav>
    {{ with .Params.images }}
    {{ range . }}
    <link itemprop="image" href="{{ .src }}" />
    {{ end }}
    {{ else }}
    {{ partial "footer/image.html" . }}
    {{ end }}
  </li>
  {{- end }}
  {{- end }}
  </ol>

  {{- with $paginator }}
  <nav class="paginator" aria-labelledby="blog-pagination-label">
    {{- if .HasNext }}<a href="{{ .Next.URL }}" rel="prev">Older posts</a>{{- end }}{{- if and .HasNext .HasPrev}}&nbsp;&middot;&nbsp;{{- end }}{{- if .HasPrev }}<a href="{{ .Prev.URL }}" rel="next">Newer posts</a>{{- end }}<small> Page {{ .PageNumber }} of {{ .TotalPages }}</small>
  </nav>
  {{- end }}
</article>
{{ end }}
