{{/*
Parameters:

@param key - required for lookup of epigraph entry

TODO: Cache the author and work

*/}}
{{- $key := .Get "key" | upper }}
{{- $entry := index (where $.Site.Data.epigraphs "key" "eq" $key) 0 }}
<blockquote itemprop="citation" itemscope itemtype="http://schema.org/CreativeWork" class="h-cite epigraph">
{{- if $entry.poem }}
<pre class="poem">{{ $entry.text | safeHTML }}</pre>
{{- else }}
{{ $entry.text | markdownify }}
{{- end }}
  {{- if (or $entry.author_name $entry.work_title )}}
  <footer>&mdash;
    {{- if $entry.author_name }}
    <span class="p-author h-card" itemprop="author">{{ $entry.author_name }}</span>{{- if $entry.work_title }}, {{- end }}
    {{- end }}
    {{- if $entry.work_title }}
    <cite itemprop="headline">{{ with $entry.work_url }}<a itemprop="mainEntityOfPage" href="{{ . }}">{{ end }}{{ $entry.work_title }}{{ if $entry.work_url }}</a>{{ end }}</cite>
    {{ end }}
    {{- if $entry.translator_name }}
    <span itemprop="translator">(translated by {{ $entry.translator_name }})</span>
    {{- end }}
  </footer>
  {{- end }}
</blockquote>