{{- $year := .Get 0 }}
{{- $data := index .Site.Data.yearEndReports $year }}
{{- if $data }}
{{- $posts := where (where (where .Site.Pages "Type" "in" .Site.Params.paginatedSections) "Date.Year" "eq" (int $year)) "Draft" "eq" false  }}
{{- $wordCount := 0 }}{{- range $posts }}{{- $wordCount = add $wordCount .WordCount }}{{- end }}

<p>This page provides an overview into what happened for <cite>{{ .Site.Title }}</cite> during <time datetime="{{ $year}}">{{ $year }}</time>.</p>

<section  aria-labelledby="overview-posts-{{ $year }}" class="year-summary">
  <h2 id="overview-posts-{{ $year }}">All Posts</h2>
  <p>Each year, most of what I write are blog posts.</p>
  <div role="note" class="margin"><p><small>The {{ len $posts }} posts have about {{ $wordCount }} words, for an average of {{ div $wordCount (len $posts ) }} words per post.</small></p></div>
  <details open="true">
    <summary>In <time datetime="{{ $year }}">{{ $year }}</time>, I wrote {{ len $posts }} posts&hellip;</summary>
    <ul>
      {{- range $posts.GroupByDate "January" }}
      <li><details open="true">
        <summary class="month">{{ .Key }} ({{ len .Pages }} posts)</summary>
        <ul>
          {{- range .Pages }}
          <li itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <time itemprop="datePublished" datetime="{{  .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time> &middot;
            <cite itemprop="headline"><a itemprop="mainEntityOfPage" href="{{ .RelPermalink }}">{{ .Title }}</a></cite>
          </li>
          {{- end }}
        </ul>
      </details>
      {{- end }}
    </ul>
  </details>
</section>

{{- with index $data "series" }}
{{- $series := . }}
<section aria-labelledby="overview-series-{{ $year }}" class="year-summary">
  <h2 id="overview-series-{{ $year }}">For a Series</h2>

  <p>Some of these posts, I've written as part of a series.</p>

  <div role="note" class="margin"><p><small>Read about <a href="/series/">all of the series for <q>Take on Rules</q></a>.</small></p></div>

  <details>
    <summary>I've posted into {{ len $series }} series&hellip;</h2></summary>
    <ul>
      {{- range $series }}
      {{- $seriesData := index (where $.Site.Data.series "key" "eq" .key) 0 }}
      <li>
        <details>
          <summary><cite>{{ $seriesData.title }}</cite> ({{ with (len .entries) }}{{ . }} post{{- if gt . 1 }}s{{- end }}{{- end }})&hellip;</summary>
          <p>All posts in <cite><a href="{{ $.Site.BaseURL }}series/{{ $seriesData.key | urlize }}">{{ $seriesData.title }}</a></cite> series.</p>
          <ul>
            {{- range .entries }}
            <li>
              <time datetime="{{ .datePublished }}">{{ .datePublished }}</time> &middot; <cite><a href="{{ .permalink }}">{{ .title }}</a></cite>
            </li>
            {{- end }}
          </ul>
        </details>
      </li>
      {{- end }}
    </ul>
  </details>
</section>
{{- end }}

<section aria-labelledby="overview-tags-{{ $year }}" class="year-summary">
  {{ $tags :=  index $data "tags" }}
  <h2 id="overview-tags-{{ $year }}">Tagged</h2>

  <p>Every post I write, I tag with one or more tags.  This year, I used {{ len $tags }} tags.</p>

  <div role="note" class="margin"><p><small>Read about <a href="/tags/">all of the tags for <q>Take on Rules</q></a>.</small></p></div>

  <details>
    <summary>I've tagged posts with {{ len $tags }} tags&hellip;</summary>
    <p>Below, I list the date I published the tagged post, and a link to that post.</p>
    <ul>
      {{- range $tags }}
      <li>
        <details>
          <summary><em>{{ index . "key" }}</em> ({{ with (len .entries) }}{{ . }} post{{- if gt . 1 }}s{{- end }}{{- end }})&hellip;</summary>
          <p><a href="{{ $.Site.BaseURL }}tags/{{ .key }}">All posts tagged with {{ .key }}</a>.</p>
          <ul>
            {{- range .entries }}
            <li>
              <time datetime="{{ .datePublished }}">{{ .datePublished }}</time> &middot; <cite><a href="{{ .permalink }}">{{ .title }}</a></cite>
            </li>
            {{- end }}
          </ul>
        </details>
      </li>
      {{- end }}
    </ul>
  </details>
</section>

{{ with (where .Site.Data.list_of_all_updates "year" "eq" (string $year)) }}
<section  aria-labelledby="overview-updates-{{ $year }}" class="year-summary">
  <h2 id="overview-updates-{{ $year }}">Updates</h2>
  <p>Sometimes I go back and update posts with new information or corrections.</p>
  <div role="note" class="margin"><p><small>Read about <a href="/site-map/updates/">all of the updates for <q>Take on Rules</q></a>.</small></p></div>
  <details>
    <summary>I wrote {{ len . }} updates&hellip;</summary>
    <p>Below, I list the date of the updates and a link to the updated page.</p>
    <ul>
      {{- range . }}
      <li><time datetime="{{ .date }}">{{ .date }}</time> &middot; <cite><a href="{{ .permalink }}">{{ .page_title }}</a></cite></li>
      {{- end }}
      <ul>
  </details>
</section>
{{- end }}

{{- $beginDate := printf "%s-00-00" $year }}
{{- $endDate := printf "%s-99-99" $year }}
{{- $changes := where (where .Site.Data.changelog "date" "gt" $beginDate) "date" "lt" $endDate }}
{{- with $changes }}
<section  aria-labelledby="overview-changes-{{ $year }}" class="year-summary">
  <h2 id="overview-updates-{{ $year }}">Changes</h2>

  <p>Sometimes I tinker with the structure or layout of the site.</p>

  <div class="margin" role="note"><p><small>Read <a href="/site-map/changelog/">the changelog for <q>Take on Rules</q></a>.</small></p></div>

  <details>
    <summary>I made and recorded {{ len $changes }} changes&hellip;</summary>
    <p>Below, I list the date of the updates and a link to the updated page.</p>
    <dl>
      {{- range $changes }}
      <dt><time datetime="{{ .date }}">{{ .date }}</time></dt>
      {{- range sort .entries }}
      <dd>{{ partial "unparagraphy.html" . }}</dd>
      {{- end }}
      {{- end }}
    </dl>
  </details>
</section>
{{- end }}
{{- end }}
